/* stylelint-disable */
/* These are test colors no-indistinguishable-colors */
// FONTS
$font: 'Source Sans Pro';
$font-light: 300;
$font-normal: 400;
$font-bold: 500;
$font-bolder: 600;

// COLORS
$theme: #E3714D;
$theme-darker: #E26D45;
$background: #F0F4F5;
$darker-background: rgba(0, 0, 0, 0.14);
$lighter-background: rgba(255, 255, 255, 0.14);
$promotion-background: #FAFAFA;
$disabled: #868686;
$faded: #cdcdcd;
$dark: #191919;
$mix: #666666;
$light: #ffffff;
$wrong: #f44336;
$error: #FF9C9D;
$error-back: #F7E2E3;
$darker-wrong: #5A130B;
$rupeeback: #6CA018;
$active: #46D85F;
$light-active:#65c6bb;
$mainTrans: rgba(0, 0, 0, 0.76);
$gplus: #D73D32;
$fb: #3B5998;
$transparent: 'transparent';

// OTP Page Constants
$banner: #F8F8F8;
$textbox: #FBFBFB;
$light2: #E2E2E2;

/* stylelint-enable */